# Lecture no : 01

####################################################
## 0. Comments
####################################################

In [ ]:
# Single line comments start with a number symbol.

""" Multiline strings can be written
    using three "s, and are often used
    as documentation.
"""

' Multiline strings can be written\n    using three "s, and are often used\n    as documentation.\n'

####################################################
## 1. Primitive Datatypes and Operators
####################################################

In [ ]:

# You have numbers
3  # => 3

3

In [ ]:
# Math is what you would expect
1 + 1   # => 2

2

In [ ]:
8 - 1   # => 7

7

In [ ]:
10 * 2  # => 20

20

In [ ]:
35 / 5  # => 7.0

7.0

In [ ]:
# Integer division rounds down for both positive and negative numbers.
5 // 3       # => 1

1

In [ ]:
-5 // 3      # => -2

-2

In [ ]:
5.0 // 3.0   # => 1.0 # works on floats too

1.0

In [ ]:
-5.0 // 3.0  # => -2.0

-2.0

In [ ]:
# The result of division is always a float
10.0 / 3  # => 3.3333333333333335

3.3333333333333335

In [ ]:
# Modulo operation
7 % 3   # => 1

1

In [ ]:

# i % j have the same sign as j, unlike C
-7 % 3  # => 2

2

In [ ]:
# Exponentiation (x**y, x to the yth power)
2**3  # => 8

8

In [ ]:
# Enforce precedence with parentheses
1 + 3 * 2    # => 7

7

In [ ]:
(1 + 3) * 2  # => 8

8

In [ ]:
# Boolean values are primitives (Note: the capitalization)
True   # => True

True

In [ ]:
False  # => False

False

In [ ]:
# negate with not
not True   # => False

False

In [ ]:
not False  # => True

True

In [ ]:
# Boolean Operators
# Note "and" and "or" are case-sensitive
True and False  # => False

False

In [ ]:
False or True   # => True

True

In [ ]:
# True and False are actually 1 and 0 but with different keywords
True + True # => 2

2

In [ ]:
True * 8    # => 8

8

In [ ]:
False - 5   # => -5

-5

In [ ]:
# Comparison operators look at the numerical value of True and False
0 == False  # => True

True

In [ ]:
2 > True    # => True

True

In [ ]:
2 == True   # => False

False

In [ ]:
-5 != False # => True

True

In [ ]:
# None, 0, and empty strings/lists/dicts/tuples/sets all evaluate to False.
# All other values are True
bool(0)     # => False

False

In [ ]:
bool("")    # => False

False

In [ ]:
bool([])    # => False

False

In [ ]:
bool({})    # => False

False

In [ ]:
bool(())    # => False

False

In [ ]:
bool(set()) # => False

False

In [ ]:
bool(4)     # => True

True

In [ ]:
bool(-6)    # => True

True

In [ ]:
# Using boolean logical operators on ints casts them to booleans for evaluation,
# but their non-cast value is returned. Don't mix up with bool(ints) and bitwise
# and/or (&,|)
bool(0)     # => False

False

In [ ]:
bool(2)     # => True

True

In [ ]:
0 and 2     # => 0

0

In [ ]:
bool(-5)    # => True

True

In [ ]:
bool(2)     # => True

True

In [ ]:
-5 or 0     # => -5

-5

In [ ]:
# Equality is ==
1 == 1  # => True

True

In [ ]:
2 == 1  # => False

False

In [ ]:
# Inequality is !=
1 != 1  # => False

False

In [ ]:
2 != 1  # => True

True

In [ ]:
# More comparisons
1 < 10  # => True

True

In [ ]:
2 <= 2  # => True

True

In [ ]:
2 >= 2  # => True

True

In [ ]:
# Seeing whether a value is in a range
1 < 2 and 2 < 3  # => True

True

In [ ]:
2 < 3 and 3 < 2  # => False

False

In [ ]:
# Chaining makes this look nicer
1 < 2 < 3  # => True

True

In [ ]:
2 < 3 < 2  # => False

False

In [ ]:
# (is vs. ==) is checks if two variables refer to the same object, but == checks
# if the objects pointed to have the same values.
a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]

In [ ]:
b = a             # Point b at what a is pointing to

In [ ]:
b is a            # => True, a and b refer to the same object

True

In [ ]:
b == a            # => True, a's and b's objects are equal

True

In [ ]:
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]

In [ ]:
b is a            # => False, a and b do not refer to the same object

False

In [ ]:
b == a            # => True, a's and b's objects are equal

True

In [ ]:
# Strings are created with " or '
"This is a string."

'This is a string.'

In [ ]:
'This is also a string.'

'This is also a string.'

In [ ]:
# Strings can be added too
"Hello " + "world!"  # => "Hello world!"

'Hello world!'

In [ ]:
# String literals (but not variables) can be concatenated without using '+'
"Hello " "world!"    # => "Hello world!"

'Hello world!'

In [ ]:
# A string can be treated like a list of characters
"Hello world!"[0]  # => 'H'

'H'

In [ ]:
# You can find the length of a string
len("This is a string")  # => 16

16

In [ ]:
# Since Python 3.6, you can use f-strings or formatted string literals.
name = "Reiko"
f"She said her name is {name}." # => "She said her name is Reiko"

'She said her name is Reiko.'

In [ ]:
# Any valid Python expression inside these braces is returned to the string.
f"{name} is {len(name)} characters long." # => "Reiko is 5 characters long."

'Reiko is 5 characters long.'

In [ ]:
# None is an object
None  # => None

In [ ]:
# Don't use the equality "==" symbol to compare objects to None
# Use "is" instead. This checks for equality of object identity.
"etc" is None  # => False

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-71-4f2822aafad5>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "etc" is None  # => False

False

In [ ]:
None is None   # => True

True

####################################################
## 2. Variables and Collections
####################################################

In [ ]:
# Python has a print function
print("I'm Python. Nice to meet you!")  # => I'm Python. Nice to meet you!

I'm Python. Nice to meet you!

In [ ]:
# By default the print function also prints out a newline at the end.
# Use the optional argument end to change the end string.
print("Hello, World", end="!")  # => Hello, World!

Hello, World!

In [ ]:
# Simple way to get input data from console
input_string_var = input("Enter some data: ") # Returns the data as a string

Enter some data: Fozia Khan

In [ ]:
# There are no declarations, only assignments.
# Convention is to use lower_case_with_underscores
some_var = 5

In [ ]:
some_var  # => 5

5

In [ ]:
# Accessing a previously unassigned variable is an exception.
# See Control Flow to learn more about exception handling.
some_unknown_var  # Raises a NameError

NameError: ignored

In [ ]:
# if can be used as an expression
# Equivalent of C's '?:' ternary operator
"yay!" if 0 > 1 else "nay!"  # => "nay!"

'nay!'

In [ ]:
# Lists store sequences
li = []   #empty list

In [ ]:
# You can start with a prefilled list
other_li = [4, 5, 6]

In [ ]:
# Add stuff to the end of a list with append
li.append(1)    # li is now [1]

In [ ]:
li.append(2)    # li is now [1, 2]

In [ ]:
li.append(4)    # li is now [1, 2, 4]

In [ ]:
li.append(3)    # li is now [1, 2, 4, 3]

In [ ]:
# Remove from the end with pop
li.pop()        # => 3 and li is now [1, 2, 4]

3

In [ ]:
# Let's put it back
li.append(3)    # li is now [1, 2, 4, 3] again.

In [ ]:
# Access a list like you would any array
li[0]   # => 1

1

In [ ]:
# Look at the last element
li[-1]  # => 3

3

In [ ]:
# Looking out of bounds is an IndexError
li[4]  # Raises an IndexError

IndexError: ignored

In [ ]:
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)
li[1:3]   # Return list from index 1 to 3 => [2, 4]

[2, 4]

In [ ]:
li[2:]    # Return list starting from index 2 => [4, 3]

[4, 3]

In [ ]:
li[:3]    # Return list from beginning until index 3  => [1, 2, 4]

[1, 2, 4]

In [ ]:
li[::2]   # Return list selecting elements with a step size of 2 => [1, 4]

[1, 4]

In [ ]:
li[::-1]  # Return list in reverse order => [3, 4, 2, 1]

[3, 4, 2, 1]

In [ ]:
# Use any combination of these to make advanced slices
# li[start:end:step]

In [ ]:
# Make a one layer deep copy using slices
li2 = li[:]  # => li2 = [1, 2, 4, 3] but (li2 is li) will result in false.

In [ ]:
# Remove arbitrary elements from a list with "del"
del li[2]  # li is now [1, 2, 3]

In [ ]:
# Remove first occurrence of a value
li.remove(2)  # li is now [1, 3]

In [ ]:
li.remove(2)  # Raises a ValueError as 2 is not in the list

ValueError: ignored

In [ ]:
# Insert an element at a specific index
li.insert(1, 2)  # li is now [1, 2, 3] again

In [ ]:
# Get the index of the first item found matching the argument
li.index(2)  # => 1

1

In [ ]:
li.index(4)  # Raises a ValueError as 4 is not in the list

ValueError: ignored

In [ ]:
# You can add lists
# Note: values for li and for other_li are not modified.
li + other_li  # => [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# Concatenate lists with "extend()"
li.extend(other_li)  # Now li is [1, 2, 3, 4, 5, 6]

In [ ]:
# Check for existence in a list with "in"
1 in li  # => True

True

In [ ]:
# Examine the length with "len()"
len(li)  # => 6

6

In [ ]:
# Tuples are like lists but are immutable.
tup = (1, 2, 3)
tup[0]      # => 1

1

In [ ]:
tup[0] = 3  # Raises a TypeError

TypeError: ignored

In [ ]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
type((1))   # => <class 'int'>

int

In [ ]:
type((1,))  # => <class 'tuple'>

tuple

In [ ]:
type(())    # => <class 'tuple'>

tuple

In [ ]:
# You can do most of the list operations on tuples too
len(tup)         # => 3

3

In [ ]:
tup + (4, 5, 6)  # => (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
tup[:2]          # => (1, 2)

(1, 2)

In [ ]:
2 in tup         # => True

True

In [ ]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3

In [ ]:
# You can also do extended unpacking
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4

In [ ]:
# Tuples are created by default if you leave out the parentheses
d, e, f = 4, 5, 6  # tuple 4, 5, 6 is unpacked into variables d, e and f

In [ ]:
# respectively such that d = 4, e = 5 and f = 6
# Now look how easy it is to swap two values
e, d = d, e  # d is now 5 and e is now 4

x, y = y, x

In [ ]:
# Dictionaries store mappings from keys to values
empty_dict = {}
# Here is a prefilled dictionary
filled_dict = {"one": 1, "two": 2, "three": 3}

In [ ]:
# Note keys for dictionaries have to be immutable types. This is to ensure that
# the key can be converted to a constant hash value for quick look-ups.
# Immutable types include ints, floats, strings, tuples.
invalid_dict = {[1,2,3]: "123"}  # => Yield a TypeError: unhashable type: 'list'

TypeError: ignored

In [ ]:
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.

In [ ]:
# Look up values with []
filled_dict["one"]  # => 1

1

In [ ]:
# Get all keys as an iterable with "keys()". We need to wrap the call in list()
# to turn it into a list. We'll talk about those later.  Note - for Python
# versions <3.7, dictionary key ordering is not guaranteed. Your results might
# not match the example below exactly. However, as of Python 3.7, dictionary
# items maintain the order at which they are inserted into the dictionary.
#list(filled_dict.keys())  # => ["three", "two", "one"] in Python <3.7
list(filled_dict.keys())  # => ["one", "two", "three"] in Python 3.7+

['one', 'two', 'three']

In [ ]:
# Get all values as an iterable with "values()". Once again we need to wrap it
# in list() to get it out of the iterable. Note - Same as above regarding key
# ordering.
#list(filled_dict.values())  # => [3, 2, 1]  in Python <3.7
list(filled_dict.values())  # => [1, 2, 3] in Python 3.7+

[1, 2, 3]

In [ ]:
# Check for existence of keys in a dictionary with "in"
"one" in filled_dict  # => True

True

In [ ]:
1 in filled_dict      # => False

False

In [ ]:
# Looking up a non-existing key is a KeyError
filled_dict["four"]  # KeyError

KeyError: ignored

In [ ]:
# Use "get()" method to avoid the KeyError
filled_dict.get("one")      # => 1

1

In [ ]:
filled_dict.get("four")     # => None

In [ ]:
# The get method supports a default argument when the value is missing
filled_dict.get("one", 4)   # => 1

1

In [ ]:
filled_dict.get("four", 4)  # => 4

4

In [ ]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
filled_dict.setdefault("five", 5)  # filled_dict["five"] is set to 5

5

In [ ]:
filled_dict.setdefault("five", 6)  # filled_dict["five"] is still 5

5

In [ ]:
# Adding to a dictionary
filled_dict.update({"four":4})  # => {"one": 1, "two": 2, "three": 3, "four": 4}

In [ ]:
filled_dict["four"] = 4         # another way to add to dict

In [ ]:
# Remove keys from a dictionary with del
del filled_dict["one"]  # Removes the key "one" from filled dict

In [ ]:
# From Python 3.5 you can also use the additional unpacking options
{'a': 1, **{'b': 2}}  # => {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [ ]:
{'a': 1, **{'a': 2}}  # => {'a': 2}

{'a': 2}

In [ ]:
# Sets store ... well sets
empty_set = set()

In [ ]:
# Initialize a set with a bunch of values.
some_set = {1, 1, 2, 2, 3, 4}  # some_set is now {1, 2, 3, 4}

In [ ]:
# Similar to keys of a dictionary, elements of a set have to be immutable.
invalid_set = {[1], 1}  # => Raises a TypeError: unhashable type: 'list'

TypeError: ignored

In [ ]:
valid_set = {(1,), 1}

In [ ]:
# Add one more item to the set
filled_set = some_set

In [ ]:
filled_set.add(5)  # filled_set is now {1, 2, 3, 4, 5}

In [ ]:
# Sets do not have duplicate elements
filled_set.add(5)  # it remains as before {1, 2, 3, 4, 5}

In [ ]:
# Do set intersection with &
other_set = {3, 4, 5, 6}
filled_set & other_set  # => {3, 4, 5}

{3, 4, 5}

In [ ]:
# Do set union with |
filled_set | other_set  # => {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [ ]:
# Do set difference with -
{1, 2, 3, 4} - {2, 3, 5}  # => {1, 4}

{1, 4}

In [ ]:
# Do set symmetric difference with ^
{1, 2, 3, 4} ^ {2, 3, 5}  # => {1, 4, 5}

{1, 4, 5}

In [ ]:
# Check if set on the left is a superset of set on the right
{1, 2} >= {1, 2, 3} # => False

False

In [ ]:
# Check if set on the left is a subset of set on the right
{1, 2} <= {1, 2, 3} # => True

True

In [ ]:
# Check for existence in a set with in
2 in filled_set   # => True
10 in filled_set  # => False

# Make a one layer deep copy
filled_set = some_set.copy()  # filled_set is {1, 2, 3, 4, 5}
filled_set is some_set        # => False

False

####################################################
## 3. Control Flow and Iterables
####################################################

In [ ]:
# Let's just make a variable
some_var = 5

# Here is an if statement. Indentation is significant in Python!
# Convention is to use four spaces, not tabs.
# This prints "some_var is smaller than 10"
if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:    # This elif clause is optional.
    print("some_var is smaller than 10.")
else:                  # This is optional too.
    print("some_var is indeed 10.")

some_var is smaller than 10.

In [ ]:
"""
For loops iterate over lists
prints:
    dog is a mammal
    cat is a mammal
    mouse is a mammal
"""
for animal in ["dog", "cat", "mouse"]:
    # You can use format() to interpolate formatted strings
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
mouse is a mammal

In [ ]:
"""
"range(number)" returns an iterable of numbers
from zero up to (but excluding) the given number
prints:
    0
    1
    2
    3
"""
for i in range(4):
    print(i)

0
1
2
3

In [ ]:
"""
"range(lower, upper)" returns an iterable of numbers
from the lower number to the upper number
prints:
    4
    5
    6
    7
"""
for i in range(4, 8):
    print(i)

4
5
6
7

In [ ]:
"""
"range(lower, upper, step)" returns an iterable of numbers
from the lower number to the upper number, while incrementing
by step. If step is not indicated, the default value is 1.
prints:
    4
    6
"""
for i in range(4, 8, 2):
    print(i)

4
6

In [ ]:
"""
Loop over a list to retrieve both the index and the value of each list item:
    0 dog
    1 cat
    2 mouse
"""
animals = ["dog", "cat", "mouse"]
for i, value in enumerate(animals):
    print(i, value)

0 dog
1 cat
2 mouse

In [ ]:
"""
While loops go until a condition is no longer met.
prints:
    0
    1
    2
    3
"""
x = 0
while x < 4:
    print(x)
    x += 1  # Shorthand for x = x + 1

0
1
2
3

In [ ]:
# Handle exceptions with a try/except block
try:
    # Use "raise" to raise an error

    raise IndexError("This is an index error")

except IndexError as e:
    print("HHAHHAHHA we are making joke")
    print(e)
    pass               # Refrain from this, provide a recovery (next example).
except (TypeError, NameError):
       pass              # Multiple exceptions can be processed jointly.
else:                    # Optional clause to the try/except block. Must follow
                         # all except blocks.
    print("All good!")   # Runs only if the code in try raises no exceptions
finally:                 # Execute under all circumstances
    print("We can clean up resources here")

HHAHHAHHA we are making joke
This is an index error
We can clean up resources here

In [ ]:
try:
    raise Exception('spam', 'eggs')
except Exception as inst:
    print(type(inst))    # the exception type
    print(inst.args)     # arguments stored in .args
    print(inst)          # __str__ allows args to be printed directly,
                         # but may be overridden in exception subclasses
    x, y = inst.args     # unpack args
    print('x =', x)
    print('y =', y)

<class 'Exception'>
('spam', 'eggs')
('spam', 'eggs')
x = spam
y = eggs

In [ ]:
# Writing to a file
contents = {"aa": 12, "bb": 21} #
with open("myfile1.txt", "w+") as file:
    file.write(str(contents))        # writes a string to a file

In [ ]:
# Instead of try/finally to cleanup resources you can use a with statement
with open("myfile.txt") as f:
    for line in f:
        print(line)

FileNotFoundError: ignored

In [ ]:
import json
with open("myfile2.txt", "w+") as file:
    file.write(json.dumps(contents)) # writes an object to a file

In [ ]:
# Reading from a file
with open('myfile1.txt', "r+") as file:
    contents = file.read()           # reads a string from a file
print(contents)

{'aa': 12, 'bb': 21}

In [ ]:
# print: {"aa": 12, "bb": 21}

with open('myfile2.txt', "r+") as file:
    contents = json.load(file)       # reads a json object from a file
print(contents)

{'aa': 12, 'bb': 21}

In [ ]:
# print: {"aa": 12, "bb": 21}


# Python offers a fundamental abstraction called the Iterable.
# An iterable is an object that can be treated as a sequence.
# The object returned by the range function, is an iterable.

filled_dict = {"one": 1, "two": 2, "three": 3}
our_iterable = filled_dict.keys()
print(our_iterable)  # => dict_keys(['one', 'two', 'three']). This is an object
                     # that implements our Iterable interface.

dict_keys(['one', 'two', 'three'])

In [ ]:
# We can loop over it.
for i in our_iterable:
    print(i)  # Prints one, two, three

one
two
three

In [ ]:
# However we cannot address elements by index.
our_iterable[1]  # Raises a TypeError

TypeError: ignored

In [ ]:
# An iterable is an object that knows how to create an iterator.
our_iterator = iter(our_iterable)

In [ ]:
# Our iterator is an object that can remember the state as we traverse through
# it. We get the next object with "next()".
next(our_iterator)  # => "one"

'one'

In [ ]:
# It maintains state as we iterate.
next(our_iterator)  # => "two"

'two'

In [ ]:
next(our_iterator)  # => "three"

'three'

In [ ]:
# After the iterator has returned all of its data, it raises a
# StopIteration exception
next(our_iterator)  # Raises StopIteration

StopIteration: ignored

In [ ]:
# We can also loop over it, in fact, "for" does this implicitly!
our_iterator = iter(our_iterable)
for i in our_iterator:
    print(i)  # Prints one, two, three

one
two
three

In [ ]:
# You can grab all the elements of an iterable or iterator by call of list().
list(our_iterable)  # => Returns ["one", "two", "three"]
list(our_iterator)  # => Returns [] because state is saved

[]


####################################################
## 4. Functions
####################################################

In [ ]:
# Use "def" to create new functions
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y  # Return values with a return statement

In [ ]:
# Calling functions with parameters
add(5, 6)  # => prints out "x is 5 and y is 6" and returns 11

x is 5 and y is 6

11

In [ ]:
# Another way to call functions is with keyword arguments
add(y=6, x=5)  # Keyword arguments can arrive in any order.

x is 5 and y is 6

11

In [ ]:
# You can define functions that take a variable number of
# positional arguments
def varargs(*args):
    return args

varargs(1, 2, 3)  # => (1, 2, 3)

(1, 2, 3)

In [ ]:
# You can define functions that take a variable number of
# keyword arguments, as well
def keyword_args(**kwargs):
    return kwargs

# Let's call it to see what happens
keyword_args(big="foot", loch="ness")  # => {"big": "foot", "loch": "ness"}

{'big': 'foot', 'loch': 'ness'}

In [ ]:
# You can do both at once, if you like
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)
# """
# all_the_args(1, 2, a=3, b=4) prints:
#     (1, 2)
#     {"a": 3, "b": 4}
# """

In [ ]:
# When calling functions, you can do the opposite of args/kwargs!
# Use * to expand args (tuples) and use ** to expand kwargs (dictionaries).
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}
all_the_args(*args)            # equivalent: all_the_args(1, 2, 3, 4)
all_the_args(**kwargs)         # equivalent: all_the_args(a=3, b=4)
all_the_args(*args, **kwargs)  # equivalent: all_the_args(1, 2, 3, 4, a=3, b=4)

(1, 2, 3, 4)
{}
()
{'a': 3, 'b': 4}
(1, 2, 3, 4)
{'a': 3, 'b': 4}

In [ ]:
# Returning multiple values (with tuple assignments)
def swap(x, y):
    return y, x  # Return multiple values as a tuple without the parenthesis.
                 # (Note: parenthesis have been excluded but can be included)

x = 1
y = 2
x, y = swap(x, y)     # => x = 2, y = 1
# (x, y) = swap(x,y)  # Again the use of parenthesis is optional.

In [ ]:
# global scope
x = 5

def set_x(num):
    # local scope begins here
    # local var x not the same as global var x
    x = num    # => 43
    print(x)   # => 43

In [ ]:
def set_global_x(num):
    # global indicates that particular var lives in the global scope
    global x
    print(x)   # => 5
    x = num    # global var x is now set to 6
    print(x)   # => 6

In [ ]:


# """
# prints:
#     43
#     5
#     6
# """
set_x(43)
set_global_x(6)

43
5
6

In [ ]:
# Python has first class functions
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_10 = create_adder(10)
add_10(3)   # => 13

13

In [ ]:
# There are also anonymous functions
(lambda x: x > 2)(3)                  # => True

True

In [ ]:
(lambda x, y: x ** 2 + y ** 2)(2, 1)  # => 5

5

In [ ]:
# There are built-in higher order functions
list(map(add_10, [1, 2, 3]))          # => [11, 12, 13]

[11, 12, 13]

In [ ]:
list(map(max, [1, 2, 3], [4, 2, 1]))  # => [4, 2, 3]

[4, 2, 3]

In [ ]:
list(filter(lambda x: x > 5, [3, 4, 5, 6, 7]))  # => [6, 7]

[6, 7]

In [ ]:
# We can use list comprehensions for nice maps and filters
# List comprehension stores the output as a list (which itself may be nested).
[add_10(i) for i in [1, 2, 3]]         # => [11, 12, 13]

[11, 12, 13]

In [ ]:
[x for x in [3, 4, 5, 6, 7] if x > 5]  # => [6, 7]

[6, 7]

In [ ]:
# You can construct set and dict comprehensions as well.
{x for x in 'abcddeef' if x not in 'abc'}  # => {'d', 'e', 'f'}

{'d', 'e', 'f'}

In [ ]:
{x: x**2 for x in range(5)}  # => {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

####################################################
## 5. Modules
####################################################

In [ ]:
# You can import modules
import math
print(math.sqrt(16))  # => 4.0

4.0

In [ ]:
# You can get specific functions from a module
from math import ceil, floor
print(ceil(3.7))   # => 4

4

In [ ]:
print(floor(3.7))  # => 3

3

In [ ]:
# You can import all functions from a module.
# Warning: this is not recommended
from math import *

In [ ]:
# You can shorten module names
import math as m
math.sqrt(16) == m.sqrt(16)  # => True

True

In [ ]:
# Python modules are just ordinary Python files. You
# can write your own, and import them. The name of the
# module is the same as the name of the file.

# You can find out which functions and attributes
# are defined in a module.
import math
dir(math)


# If you have a Python script named math.py in the same
# folder as your current script, the file math.py will
# be loaded instead of the built-in Python module.
# This happens because the local folder has priority
# over Python's built-in libraries.

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']


####################################################
## 6. Classes
####################################################

In [ ]:
# One of the most important method for a class is the Constructor.
# In Python, it has name of __init__ by default.
# The first parameter to this function (in its definition) is self which refers to the current object that is being instantiated.

# Rest of the parameters can be used to initialize the values of all attributes.

# There are certain methods that can be considered as standard methods within the Python language. For example, getting a string representation of the object or a length function (if it can be applied to a particular object).
# __len__ for length
# __str__ for String representation



class BankAccount:

    acctCount=0 #class object method

    def __init__(self, name, balance=0): #constructor

      BankAccount.acctCount+=1 #incrementing class object method
      self.name= name # instance attribute to store name of bankaccount
      self.balance= balance # instance attribute to store balance of bank account
      #you can add more attributes here and initialize them, (using parameter
      #or some default value

    def displayCount(): #static method
        '''Method to display number of accounts created'''
        print("Total Accounts", BankAccount.acctCount) #using class name

    def displayName(self): #instance method
        '''Method to print name of the account'''
        print("Name: ",self.name)

    def Credit(self, amount):
        '''Method to deduce credit from the account'''
        self.balance-=amount

    def Debit(self, amount):
        '''Method to increase debit into the account'''
        self.balance+=amount

    def getBalance(self):
        '''Method to get balance of the account'''
        return self.balance



    def __str__(self):
        '''Method to return string representation of the account'''
        return "Name: " + self.name + ", Balance: "+ str(self.balance)

In [ ]:
#create an bankaccount Ahmed with balance of 1000
acct1= BankAccount('Ahmed',2000)
#create an bankaccount Asad with balance of 5000
acct2= BankAccount('Asad',5000)

In [ ]:
#calling instance function
acct1.displayName()

acct1.Credit(25)

acct1.getBalance()

Name:  Ahmed

1975

In [ ]:
#calling __str__ function
print(acct1)

Name: Ahmed, Balance: 1975